<%- layout('boilerplate') %>


<h1>Hi, <%= user.name%></h1>
<h2>Balance: &#8377;<%= user.balance %></h2>

<a href="/balance">Update balance</a>

<form action="/expense" method="POST">
  <div class="form-input">
    <label for="name">Spent On</label>
    <input type="text" name="name" id="name" />
  </div>
  <div class="form-input">
    <label for="amount">Amount</label>
    <input type="number" name="amount" id="amount" min="0"/>
  </div>
  <div class="form-input">
    <label for="tags">Tags</label>
    <input type="text" name="tags" id="tags" />
  </div>

  <button>Add Expense</button>
</form>
<h3>Search Expense</h3>
<form action="/<%= user.username %>/search" method="GET">
  <div class="form-input">
    <label for="tag">Tag</label>
    <input type="text" name="tag" id="tag" />
  </div>

  <button>Search</button>
</form>

<% for(expense of user.expenses.reverse()) { %>
<div class="expense" style="border: 2px solid #000; margin: 1em; padding: 1em; display: inline-block">
  <h3><%= expense.name %></h3>
  <p>&#8377;<%= expense.amount %></p>
  <p><%= expense.date.toLocaleString() %></p>
  <form action="/expense/<%= expense.id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</div>
<% } %>

<h2>Total expense <%= tag ? `on ${tag}` : '' %> : &#8377;<%= user.totalExpense %> </h2>

<a href="/logout">Logout</a>

<!-- Author: Anurag Singh  -->